@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Merriweather', serif;
}

.cabecalho{
    background-image: url("imagens/fundo-header.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 1200px;

    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 22px;
}

.logo{
    width: 170px;
    height: 170px;
    border: 1px solid #20f6b6c9;
    background-color: #EE70C4;
    padding: 10px;
    border-radius: 100px;
}

.nome-loja{
    margin: 0;
    font-size: 60px;
    color: #20f6b6;
    line-height: 85%;
    font-family: 'Great Vibes', cursive;
    font-weight: 600;
}

.texto-pequeno{
    font-size: 40px;
}

.menu{
    background-color: #ee70c4ee;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
    color: #6B124D;
}

.item-menu{
    color: #6b124d;
    font-size: 18px;
    font-weight: 500;
}

.foto-banner{
    width: 1200px;
    height: 445px;
    object-fit: cover;
}

.banner{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}


.hr-1{
    width: 1200px;
    height: 3px;
    background-color: #ee70c4f5;
    margin-top: -5px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.nome-cardapio{
    font-size: 35px;
    color: #1BA4D3;
    line-height: 85%;
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 22px;
}

.texto-cardapio{
    font-family: 'Merriweather', serif;
    color: black;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    font-size: 14px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 64px;
}

.div-em-colunas{
    column-count:4;
}

.fotos{
    background-color: #6B124D;
    width: 1200px;
    height: 310px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.texto-fotos{
    font-family: 'Great Vibes', cursive;
    color: #1BA4D3;
    font-size: 33px;
    width: 1200px;
    line-height: 85%;
    font-weight: 550;
    text-align: center;
    padding-top: 22px;
}

.foto-1{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border: 3px solid #20f6b6c9;
    border-radius: 5px;
}

.foto-2{
    width: 160px;
    height: 160px;
    object-fit: cover;
    margin-right: 105px;
    margin-left: 105px;
    border: 3px solid #20f6b6c9;
    border-radius: 5px;
}

.foto-3{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border: 3px solid #20f6b6c9;
    border-radius: 5px;
}

.texto-contato{
    font-family: 'Great Vibes', cursive;
    color: #1BA4D3;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 40px;
    line-height: 85%;
    font-weight: 550;
    text-align: center;
}

.map-responsive{
    overflow: hidden;
    padding-bottom: 56,25%;
    position: relative;
    height: 0;
}

.mapa-google{
    width: 500px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.hr-2{
    width: 1200px;
    height: 3px;
    background-color: #6b124de8;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.texto-footer{
    font-family: 'Great Vibes', cursive;
    color: #6b124dee;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 15px;
    font-size: 35px;
    line-height: 85%;
    font-weight: 600;
    text-align: center;
}

.logo-1{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}

.logo-2{
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
}