@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

body{
    margin: 0;
    font-family: 'Merriweather', serif;
}

.cabecalho{
    background-image: url("imagens/fundo-header.jpg");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    width: 1200px;

    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 22px;
}

.logo{
    width: 170px;
    height: 170px;
    border: 1px solid #20f6b6c9;
    background-color: #EE70C4;
    padding: 10px;
    border-radius: 100px;
}

.nome-loja{
    margin: 0;
    font-size: 60px;
    color: #20F6B7;
    line-height: 85%;
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
}

.texto-pequeno{
    font-size: 40px;
}

.menu{
    background-color: #ee70c4ee;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
    color: #6B124D;
}

.item-menu{
    color: #6b124d;
    font-size: 18px;
    font-weight: 500;
}

.foto-banner{
    width: 1200px;
    height: 445px;
    object-fit: cover;
}

.banner{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    border-bottom: 5px solid #ee70c4ee ;
}

.cardapio{
    font-size: 30px;
    color: #1BA4D3;
    line-height: 85%;
    font-family: 'Great Vibes', cursive;
    font-weight: 500;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.texto-cardapio{
    font-family: 'Merriweather', serif;
    color: black;
    font-size: 13px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
}

.div-em-colunas{
    column-count:4; 
}

.texto-fotos{
    margin: 0;
    font-size: 35px;
    color: #1BA4D3;
    line-height: 85%;
    font-family: 'Great Vibes', cursive;
    font-weight: 800;
    text-align: center;
}

.fundo-fotos{
    background-color: #ee70c4ee;
    width: 1200px;
    height: 400;
    margin-left: center;
    margin-right: center;
    padding-top: 19px;
    padding-bottom: 19px;
    color: #6B124D;
}



